name: build

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
      - stable/**

jobs:
  image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
      pull-requests: write
    steps:
      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@main
        with:
          repository: openstack/ironic
          ref: 6f63e4bb822ef651836f9213d3b4565c0e2df273 # master

      - uses: vexxhost/docker-atmosphere/.github/actions/build-image@main
        with:
          image-name: ironic
          build-contexts: ironic=openstack/ironic
          push: ${{ github.event_name != 'pull_request' }}
