name: build

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
      - stable/**

jobs:
  image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
      pull-requests: write
    steps:
      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@main
        with:
          repository: openstack/ironic
          ref: e586feb4d114e2d4c3f2b1b01c43975b6eedc10c # stable/2025.2

      - uses: vexxhost/docker-atmosphere/.github/actions/build-image@main
        with:
          image-name: ironic
          build-contexts: ironic=openstack/ironic
          push: ${{ github.event_name != 'pull_request' }}
