name: build

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
      - stable/**

jobs:
  image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
    steps:
      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@stable/zed
        with:
          repository: openstack/ironic
          ref: ccbafdc0d7e7067aaed0a6c5a125b93635df1377

      - uses: vexxhost/docker-atmosphere/.github/actions/build-image@stable/zed
        with:
          image-name: ironic
          base-image-tag: zed
          build-contexts: ironic=openstack/ironic
          push: ${{ github.event_name != 'pull_request' }}
